extend layout_board

block header
	h1 #{title}
	
block lead
	#tagline
	- if (isNew)
		form#postsublineeditor
			textarea #{__('You are the first who enters this board - formtext')}
			span.pull-left
				submit.btn.btn-success save
			span.pull-right.quote
				| ~ #{everyauth.facebook.user.name} ~

	- else
		p #{tagline}
		span.pull-right.quote
			| ~ #{everyauth.facebook.user.name} ~

block content
	#posts
     
block footer
	div#roaster

